body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .dashboard {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #003366 ;
    padding: 20px;
    color: #fff;
  }
  
  .sidebar h2 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 15px 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #495057;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li:hover {
    background-color: #6c757d;
  }
  
  .sidebar ul li.active {
    background-color: #f26222;
  }
  
  .sidebar ul li i {
    margin-right: 10px;
  }
  
  .content {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .content h3 {
    margin-top: 0;
    font-size: 1.75em;
    margin-bottom: 1.5em;
  }
  
  .content > div {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  header {
    background-color: #003366 ;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 1px;
  }
  