
.create-resume-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap; 
}


.form-section, 
.preview-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}


.form-section {
  max-height: 800px;
  overflow-y: auto;
}


.preview-section {
  background: #f4f4f4;
}


.preview-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h3 {
  color: #333;
  margin-bottom: 15px;
}

h4 {
  color: #333;
  margin-bottom: 10px;
  font-size: 28px;
}

h5 {
  color: #1a90f0;
  margin-bottom: 10px;
  font-size: 20px;
}

p {
  margin: 5px 0;
  color: #444;
  font-size: 16px;
}


button {
  padding: 12px 24px;
  background-color: #1a90f0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a90f0;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group input:focus, 
.form-group textarea:focus {
  border-color: #1a90f0;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.form-group textarea {
  resize: vertical;
  min-height: 150px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .create-resume-container {
      flex-direction: column;
  }

  .form-section, 
  .preview-section {
      max-width: 100%;
  }

  .form-section {
      max-height: none; 
      overflow-y: visible; 
  }
}

@media (max-width: 480px) {
  h4 {
      font-size: 24px;
  }

  h5 {
      font-size: 18px;
  }

  p {
      font-size: 14px;
  }

  button {
      font-size: 14px;
      padding: 10px 20px;
  }

  .form-group input, 
  .form-group textarea {
      font-size: 14px;
  }
}

/* Popup styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.popup-overlay input {
   padding: 10px;
}

.popup-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.popup-content h4 {
  margin-bottom: 7px;
}

.popup-content .form-group {
  margin-bottom: 15px;
}

.popup-content button {
  margin-right: 10px;
}

