.preview-section {
  flex: 1;
  width: 650px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: auto;
  font-family: "Arial", sans-serif;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.profile-image-container {
  margin-right: 20px;
  flex-shrink: 0;
}

.profile-image-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f26222;
}

.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info {
  font-size: 14px;
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.contact-info i {
  margin-right: 8px;
  color: #f26222;
}

.section {
  margin-bottom: 20px;
  width: 100%;
}

.section h5 {
  color: #f26222;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #f26222;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.section p {
  color: #444;
  font-size: 14px;
  margin: 5px 0;
}
.print-button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Print styles */
@media print {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Arial", sans-serif;
  }

  .preview-section {
    flex: none;
    max-width: none;
    width: 100%;
    height: auto;
    padding: 20px;
    border: none;
    border-radius: 0;
    background: #ffffff;
    box-shadow: none;
    overflow: visible;
    margin: 0;
  }

  @page {
    size: auto;
    margin: 10mm;
  }

  .print-button-container {
    display: none;
  }

  .section {
    page-break-inside: avoid;
    margin-bottom: 15px;
    width: 100%;
  }

  .profile-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .profile-image-container {
    margin-bottom: 15px;
  }

  .contact-info p {
    font-size: 12px;
  }

  .section h5 {
    font-size: 18px;
    padding-bottom: 3px;
    margin-bottom: 8px;
  }

  .section p {
    font-size: 12px;
  }
}
