






#section_1{
  margin-top: 60px;
  padding-top: 50px;

  background-color: #eff2f9;
  width: 100%;
  overflow: hidden;
  

}
#inner_section_1{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;

  height: auto;
 
  margin: auto;


}
#inner_section_1>h1{
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}
#inner_section_1>p:nth-of-type(2){
  font-size: 24px;
  color: black;
  text-align: center;
}
#inner_section_1>button{
  font-weight: 400;
  font-size: 20px;
  padding: 15px;
  background-color: #1a90f0;
  margin: 20px;
}
#inner_section_1>img{
  margin-top: 40px;
}
@media(width<=1400px){
  #inner_section_1{
    width: 90%;
  }
}

/* -----------------------section 2-------------------------------------------- */

#section_2{
  width: 100%;
  padding-top: 50px;
  /* border: 1px solid; */

}
#innerSection_2{
  width: 70%;
  margin: auto;


}
#innerSection_2>h1{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.section_2_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(330px,330px)) ;
  justify-content: center;
  gap: 20px;

}
.grid_child{

  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}

.grid_child_img{
  width: 60px;
  padding: 10px;
}
.grid_child>p:nth-of-type(1){
  font-size: 20px;
  color: rgb(11, 53, 88);
  font-weight: 600;

}
.grid_child>p:nth-of-type(2){
  text-align: center;

}
@media(width<=1400px){
  #innerSection_2{
    width: 90%;
  }
}
@media(width<=770px){
  .section_2_grid{
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
  }
  
}

/* ------------------------------Ratting--------------------------------------- */

/* #rating_container{
  width: 100%;
  padding: 100px;

}
#inner_rating{
  width: 80%;
  margin: auto;
  border: 1px solid ;
  display: flex;
  position: relative;
  
}
.Crousal_btn{
  position: absolute;
  top: 50%;
}
#crausal{
  display: flex;
  gap: 20px;
  width: 90%;
  margin: auto;
  overflow: scroll;
  border: 1px solid red;


}
.ratingcard{
  /* display: flex;
  flex-direction: column; */
  /* width: 500px;
  border: 1px solid;
  
}
.ratingcard>h2{
  font-size: 24px;
  font-weight: 600;
}
.rating{
  display: flex;

} */






/* Carousel.css */

/* .carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.carousel-content {
  display: flex;
  overflow: hidden;
  width: 60%;
  justify-content: space-between;
}

.card {
  min-width: 30%;
  margin: 0 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.prev-button,
.next-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: #0056b3;
} */
 



   /* -----------------------------------footer section------------------------------------------------------------------- */

footer{
    background-color: rgb(11, 53, 88) ;
    
    width:100%;
    height: auto;
    margin-top: 100px;   /* itmay need remove */
   border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
}
#footer_socialmedia{
    margin-top: 40px;
    width: 80%;
    padding: 20px ;
    margin: auto;
    max-width: 1520px;
    display: flex;
    justify-content: space-between;
}
#footer_logo{
    width: 100px;
    cursor: pointer;
    
}
#socialmedia{
    
    display: flex;
    align-items: center;
}
#socialmedia>img{
   
    margin-right: 15px;
    cursor: pointer;
}
#footer{
   width: 80%;
  
   border-top: 1px solid rgb(218, 214, 214);
   border-bottom: 1px solid rgb(218, 214, 214);
    color: rgb(218, 214, 214);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;
    
    margin: auto;
    max-width: 1480px;
    
    
}

#footer>div {
    display: flex;
    flex-direction: column;
   
    

}
#footer>div>h3{
    font-size: clamp(18px, 26px,24px);
    /* border-bottom: 1px solid wheat; */
    padding: 3px;
    text-decoration:1px underline wheat;
    color: rgb(218, 214, 214);
    font-size: 26px;
    
}
#footer>div>p{
  color: rgb(218, 214, 214);
  font-size: 18px;
}
#footer>div>p:hover {
    cursor: pointer;
    transform: translateX(7px);
    transition: transform 0.5s;
    color: white;

}
#copywrite{
   
    width: 80%;
    
    padding: 20px;
    color: rgb(218, 214, 214);
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1480px;
    
}
#copywrite>div{
    display: flex;
    height: 20px;
    align-items: center;
    /* border: 1px solid wheat; */
    

}
#copywrite>div>p{
    padding: 0px 10px;
    color: rgb(218, 214, 214);

   

}
#copywrite>div>p:nth-of-type(1){
    border-right: 1px solid rgb(218, 214, 214);
}
#copywrite>div:nth-of-type(2)>p:nth-of-type(2){
    border-right: 1px solid rgb(218, 214, 214);
}

@media(width<=1200px){
    #footer_socialmedia{
        width: 100%;
    }
    #footer{
        width: 100%;
    }
    #copywrite{
        width: 100%;
    }
}
@media (width<=768px){
    #footer{
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }
}
@media (width<=480px){
    #socialmedia>img{
        margin-right: 0px;
        
    }
    #footer{
        grid-template-columns: repeat(1,1fr);
        
        
    }

    #footer>div{
        
        padding-left: 30px;
    }

    #footer>div:nth-of-type(1) {
        padding-top: 0px;
    }
    #footer>div:nth-of-type(2){
        padding-top: 0px;
    }
    #copywrite{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        font-size: 14px;
    }
}















































